<!-- Flash messages -->
<div class="flash-messages container-fluid px-4 px-lg-6">
  <% if(error && error.length){ %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %> <% if(success && success.length){ %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %>
</div>