<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p class="text-center text-muted">Built with <i class="fas fa-heart"></i> by <a href="https://erickjr.com">Erick Martinez Jr.</a></p>
  </div>
</footer>