<% layout('layouts/boilerplate') -%>

<div class="row justify-content-center">
  <!-- Header -->
  <div class="col-md-12 text-center">
    <h1 class="mb-3">Create a new listing</h1>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <!-- New Room Form -->
    <form action="/rooms" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input class="form-control" type="text" name="room[name]" placeholder="name" required/>
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="room[price]" placeholder="price" min="0.01" step="0.01" required/>
      </div>
      <div class="form-group">
        <input type="file" class="form-control-file" name="images" accept="images/*" multiple>
      </div>
      <div class="form-group">
        <textarea
          class="form-control"
          name="room[description]"
          rows="3"
          placeholder="description"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="room[location]" placeholder="Location">
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-danger btn-block">Submit!</button>
      </div>
    </form>
    <a class="text-link" href="/rooms"><img src="/images/back-icon.png"></i>Go Back</a>
  </div>
</div>
