<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Roomly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/stylesheets/css/login.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-lg py-0 fixed-top">
      <!-- Navbar brand -->
      <a href="/" class="navbar-brand"><img src="/images/roomly-logo-01.svg" alt=""/></a>
    </nav>
    <!-- Container-fluid -->
    <div class="container-fluid">
      <!-- row -->
      <div class="row">
        <!-- columns -->
        <div class="d-none d-md-block col-md-6" id="loginPhoto">
        </div>
        <div class="d-none d-lg-block col-lg-1"></div>
        <div class="col-md-6 col-lg-4  form text-center">
          <% include ../partials/flash-messages %>
          <!-- Form -->
          <%- body -%>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <div class="d-none d-lg-block col-lg-1"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>