<% layout('layouts/landing') -%>
<!-- Header -->
<div id="landing-header">
  <h1><strong>Go on a Journey.</strong></h1>
  <a href="/explore" class="btn btn-lg"> <strong>explore</strong></a>
</div>
<!-- Slideshow -->
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
