<% layout('layouts/login') -%>
<form class="form-signin" action="/register" method="POST" enctype="multipart/form-data">
  <h1 class="h3 mb-2 font-weight-bold">Welcome to Roomly</h1>
  <p>Please register continue</p>
  <label for="inputFirst Name" class="sr-only">First Name</label>
  <input type="text" id="inputFirstName" class="form-control" name="firstName" placeholder="First name" required />
  <label for="inputLastName" class="sr-only">Last name</label>
  <input type="text" id="inputLastName" class="form-control" name="lastName" placeholder="Last name" required />
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus/>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required />
  <label for="inputEmail" class="sr-only">Email</label>
  <div class="form-group">
        <label for="avatar">Avatar</label>
        <input type="file" id="avatar" name="avatar">
    </div>
  <input type="text" id="inputEmail" class="form-control" name="email" placeholder="Email" required />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
<a class="text-link" href="/forgot-password">Forgot password?</a>
<hr class="hr-text" data-content="OR">
<div class="col-sm-12 other">
  <button type="button" class="btn btn-outline-secondary"><i><img src="https://img.icons8.com/color/28/000000/facebook.png"></i> Sign up with Facebook</button>
  <button type="button" class="btn btn-outline-secondary"><i><img src="https://img.icons8.com/color/28/000000/google-logo.png"></i> Sign up with Google</button>
</div>
<p>Already have an account? <a class="text-link" href="/login">Login Here</a></p>
<a class="text-link" href="/rooms"><i><img src="/images/back-icon.png"></i>Go Back</a>