<% include ./partials/authHeader %>
          <form class="form-signin" action="/register" method="POST">
            <h1 class="h3 mb-2 font-weight-bold">Welcome to Roomly</h1>
            <p>Please register continue</p>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus/>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
          </form>
          <a class="text-link" href="#">Forgot password?</a>
          <hr class="hr-text" data-content="OR">
          <div class="other">
            <button type="button" class="btn btn-outline-secondary"><i><img src="https://img.icons8.com/color/28/000000/facebook.png"></i> Facebook</button>
            <button type="button" class="btn btn-outline-secondary"><i><img src="https://img.icons8.com/color/28/000000/google-logo.png"></i> Google</button>
          </div>
          <a class="text-link" href="/rooms"><i><img src="https://img.icons8.com/color/28/000000/back.png"></i>Go Back</a>
        </div>
      </div>
    </div>
<% include ./partials/authFooter %>