@font-face {
  font-family: anodina;
  src: url(/fonts/Anodina/Anodina-Regular.otf);
}

@font-face {
  font-family: anodina;
  src: url(/fonts/Anodina/Anodina-Bold.otf);
  font-weight: bold;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: anodina, sans-serif;
  height: 100%;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

@media (min-width: 992px) {
  .px-lg-6 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

.button.navbar-toggler:focus {
  outline: 1px none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("/images/toggler.svg");
}

.form-control:focus {
  border-color: #767676;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(118, 118, 118, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(118, 118, 118, 0.6);
}

.btn-outline-danger {
  border-color: #cf5257;
  color: #cf5257;
}

.btn-outline-danger:hover {
  border-color: #cf5257;
  background-color: #cf5257;
  color: white;
}

.rotate {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.rotate.down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

button.navbar-brand {
  margin-right: 0;
}

button.navbar-toggler {
  border: none !important;
}

button.navbar-toggler:focus {
  outline: none !important;
}

.navbar-toggler-icon {
  position: relative;
  top: 15px;
  left: -8px;
  width: 1.2rem;
  height: 1.2rem;
}

.nav-link {
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

.nav-link:hover,
.active {
  border-bottom: 3px solid #767676;
}

.form-group.has-search {
  margin-bottom: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  max-width: 460px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#map {
  width: 100%;
  height: 200px;
}

.marker {
  background-image: url("/images/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.rating-stars {
  font-size: 40px;
  cursor: pointer;
}

.inner {
  overflow: hidden;
  z-index: 2;
}

.inner .far {
  color: white;
  position: absolute;
  top: 5%;
  right: 6%;
  z-index: 4;
}

.inner .fas {
  color: #767676;
  opacity: 0.6;
  position: absolute;
  top: 5%;
  right: 6%;
  z-index: 3;
}

.inner .under {
  color: #767676;
  opacity: 30%;
  position: absolute;
  top: 5%;
  right: 6%;
}

.inner img {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.inner:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.thumbnails {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.btn-card {
  background-color: #f7a8ab;
  border-color: #f7a8ab;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0px 50px;
}

.btn-card:hover {
  background-color: #ce5257;
  color: white;
}

.price {
  color: #2c2928;
  font-size: 1.2rem;
  font-weight: bold;
}

.room-type {
  color: #767676;
}

.text-link {
  color: #767676;
}

.text-link:hover {
  color: #cf5257;
}

#newReview {
  background-color: #2286c3;
}

#seeReviews {
  margin-top: 6px;
}

.fa-lg {
  margin-bottom: 6px;
}

#room-edit {
  background-color: #2286c3;
  border-color: #2286c3;
  color: white;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0px 50px;
}

.btn-danger:hover {
  background-color: #cf5257;
  color: white;
}

#room-delete {
  background-color: #cf5257;
  font-size: 1rem;
  border-color: #cf5257;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.delete-form {
  display: inline;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checked {
  color: #64b5f6;
}

.alert-danger {
  background-color: #f7a8ab;
  border-color: #f7a8ab;
  color: white;
}

.alert-success {
  background-color: #9be7ff;
  color: #2c2928;
  border-color: #9be7ff;
}

.btn-danger {
  background-color: #f7a8ab;
  border-color: #f7a8ab;
  color: white;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0px 50px;
}

.btn-danger:hover {
  background-color: #cf5257;
  color: white;
}

.btn-danger:disabled {
  background-color: #767676;
  border-color: #767676;
}

.error {
  color: #c12026;
}

.success {
  color: #2286c3;
}

.btn-outline-dark {
  color: #2c2928;
  border-color: #767676;
}

.btn-outline-dark:hover {
  background-color: #767676;
  border-color: #767676;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f6e4e6;
}

.container .text-muted {
  margin: 20px 0;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 767px) {
  .navbar-light {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .nav-link:hover,
  .active {
    border-bottom: 3px solid transparent;
    color: #cf5257;
  }
}
