.fixed-bottom {
  background-color: white;
  border-top: 1px solid #767676;
  padding: 16px 0;
  height: 100px;
}

#per-night {
  font-size: 1rem;
}

#show-price {
  font-size: 1.6rem;
  font-weight: bold;
}

#book-btn {
  background-color: #f7a8ab;
  border-color: #f7a8ab;
  color: white;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 10px 80px;
}

#book-btn:hover {
  background-color: #cf5257;
  color: white;
}

@media (min-width: 1200px) {
  .footer {
    margin-bottom: 0;
  }
}

@media (max-width: 1199.98px) {
  .card-body {
    margin-bottom: 100px;
  }
  .footer {
    margin-bottom: 100px;
  }
}
