@font-face {
	font-family: anodina;
	src: url(/fonts/Anodina/Anodina-Regular.otf);
}

@font-face {
	font-family: anodina;
	src: url(/fonts/Anodina/Anodina-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: timeBurner;
	src: url(/public/fonts/timeburnernormal.ttf);
}

@font-face {
	font-family: timeBurner;
	src: url(/public/fonts/timeburnerbold.ttf);
	font-weight: bold;
}
