@import './fonts';
@import './variables';
@import './navbar';
@import './footer';


html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: anodina, sans-serif;
	height: 100%;
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
}

// --------- Index Start ----------------
section {
	margin-top: 40px;
	margin-bottom: 40px;
}

h3 {
	margin-bottom: 1rem;
}

#recommended .row,
#top-rated .row,
#latest .row {
	margin-left: -7.5px;
	margin-right: -7.5px;
}

#top-rated .col-md-4,
#latest .col-lg-4 {
	padding: 0px 8px !important;
}

#recommended .card {
	max-height: 305px;
	padding: 0px 8px !important;
}

#recommended img {
	object-fit: cover;
	height: 100% !important;
	width: 100% !important;
}

.jumbotron {
	margin-bottom: 0;
}

.card {
	&-img-description {
		position: absolute !important;
		bottom: 0px !important;
		left: 0px !important;
		right: 0px !important;
		padding-bottom: 32px !important;
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
	&-text.place {
		overflow-wrap: break-word !important;
		// font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
		font-size: 18px !important;
		font-weight: 800 !important;
		line-height: 1.44444em !important;
		color: rgb(255, 255, 255) !important;
		text-align: center !important;
		margin: 0px !important;
	}
	&-text.average {
		overflow-wrap: break-word !important;
		// font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
		font-size: 14px !important;
		font-weight: 600 !important;
		line-height: 1.28571em !important;
		color: rgb(255, 255, 255) !important;
		text-align: center !important;
		margin: 0px !important;
	}
	&-title {
		overflow-wrap: break-word !important;
		line-height: 1.375em !important;
		text-overflow: ellipsis !important;
		max-height: 4.125em !important;
		-webkit-line-clamp: 3 !important;
		display: -webkit-box !important;
		-webkit-box-orient: vertical !important;
		margin: 0px !important;
		overflow: hidden !important;
	}
}

.btn-outline-primary {
	border-color: $secondary;
	color: $secondary;
	transition: all 0.3s ease 0s;
	padding: 14px;
}

.btn-outline-primary:hover {
	background-color: $secondary;
	color: white;
}

@media (max-width: 575.98px) {
	#top-rated .col-md-4,
	#latest .col-lg-4 {
		padding: 0px 6px !important;
	}

	#recommended .card {
		max-height: 305px;
		padding: 0px 6px !important;
	}
}
// --------- Index End ------------------
// --------- Mapbox Start ---------------
#map {
	width: 100%;
	height: 200px;
	&.index {
		width: 100%;
		height: 100% !important;
	}
}

.marker {
	background-image: url('/images/mapbox-icon.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}
.mapboxgl-popup {
	max-width: 200px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
// --------- Mapbox End ---------------
.rating-stars {
	font-size: 40px;
	cursor: pointer;
}

.inner {
	overflow: hidden;
	z-index: 2;
	& .far {
		color: white;
		position: absolute;
		top: 5%;
		right: 6%;
		z-index: 4;
	}
	& .fas {
		color: $grey;
		opacity: 0.6;
		position: absolute;
		top: 5%;
		right: 6%;
		z-index: 3;
	}
	& .under {
		color: $grey;
		opacity: 30%;
		position: absolute;
		top: 5%;
		right: 6%;
	}
	& img {
		transition: all 1.5s ease;
		&:hover {
			transform: scale(1.5);
		}
	}
}

.thumbnails {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.btn-card {
	background-color: #f7a8ab;
	border-color: #f7a8ab;
	color: white;
	transition: all 0.3s ease 0s;
	padding: 0px 50px;
	&:hover {
		background-color: #ce5257;
		color: white;
	}
}

.price {
	color: $black;
	font-size: 1.2rem;
	font-weight: bold;
}

.room-type {
	color: $grey;
	margin-bottom: 2px;
}

// Create room CSS
.text-link {
	color: $grey;
	&:hover {
		color: $primary;
	}
}

// Show room CSS
#newReview {
	background-color: $secondary-dark;
}

#seeReviews {
	margin-top: 6px;
}

.edit {
	background-color: $secondary-dark;
	border-color: $secondary-dark;
	color: white;
	font-size: 1rem;
	transition: all 0.3s ease 0s;
	padding: 0px 50px;
}

.fa-lg {
	margin-bottom: 6px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checked {
	color: $secondary;
}

// Flash messages
.alert {
	margin-top: 1rem;
	&-danger {
		background-color: $primary-light;
		border-color: $primary-light;
		color: white;
	}
	&-success {
		background-color: $secondary-light;
		color: $black;
		border-color: $secondary-light;
	}
}

// Edit Profile
.btn-danger {
	background-color: $primary-light;
	border-color: $primary-light;
	color: white;
	font-size: 1.5rem;
	transition: all 0.3s ease 0s;
	padding: 0px 50px;
	&:hover {
		background-color: $primary;
		color: white;
	}
	&:disabled {
		background-color: $grey;
		border-color: $grey;
	}
	&.delete {
		background-color: $primary;
		font-size: 1rem;
		border-color: $primary;
	}
}

.error {
	color: $primary-dark;
}
.success {
	color: $secondary-dark;
}

.btn-outline-dark {
	color: $black;
	border-color: $grey;
	&:hover {
		background-color: $grey;
		border-color: $grey;
	}
}

.profile-image {
	width: 150px;
	border-radius: 50%;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

@media (max-width: 767px) {
	.navbar-light {
		justify-content: start;
	}
}
